<?xml version="1.0"?>
<launch>
<node pkg="path_planing_example" type="range_finder" name="range_finder">
</node>
<node pkg="path_planing_example" type="path_planner" name="path_planner" output="screen">
</node>
<!-- <node pkg="path_planing_example" type="navigator" name="navigator">
</node> -->
</launch>
