<?xml version="1.0"?>
<launch>

	<!-- launch the world and launch the husky to be controlled -->
	<arg name="world_name" default="$(find ee3305_pid_control)/worlds/singlePillar.world"/>
	<arg name="laser_enabled" default="true"/>
	<arg name="kinect_enabled" default="false"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
	</include>

	<include file="$(find husky_gazebo)/launch/spawn_husky.launch">
		<arg name="laser_enabled" value="$(arg laser_enabled)"/>
		<arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
	</include>

	<!-- launch the algorithm node -->
	<node pkg="ee3305_pid_control" type="ee3305_pid_control" name="pid_control" output="screen" launch-prefix="gnome-terminal --command">
		
	</node>

	<rosparam command="load" file="$(find ee3305_pid_control)/config/config.yaml"/>
	

	<!-- launch the visualization -->
	<!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
</launch>